.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color:rgb(104, 136, 243);
    color: rgb(86, 132, 229) ;
    border: 1px solid #ddd;
    border-radius: 5px;
    /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); */
  }
  
  .title {
    font-size: 32px;
    color: white;
    margin-bottom: 20px;
  }
  
  .program-list {
    list-style: none;
    padding: 0;
  }
  
  .program-list li {
    margin-bottom: 10px;
    color: #666666;
  }
  